@import "tailwindcss";

:root{
  --background:#05070F;
  --surface:#0B1120;
  --primary:#D4AF37;
  --primary-light:#F5C542;
  --silver:#C0C0C0;
  --white:#FFFFFF;
  --text:#D1D5DB;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--white);
  font-family:var(--font-body);
}

h1,h2,h3,h4,h5,h6{
  font-family:var(--font-heading);
}

a{
  text-decoration:none;
  color:inherit;
}

img{
  max-width:100%;
}

section{
  padding:90px 0;
}

.container{
  max-width:1280px;
  margin:auto;
  padding:0 24px;
}

body {
  background:
    radial-gradient(circle at top, rgba(212,175,55,0.08), transparent 40%),
    #05070F;
}